* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post_container {
  width: 80%;
  max-height: 500px;
  overflow-y: auto;
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  scrollbar-width: thin;
}

.post {
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  padding: 1rem;
}

.post span a {
  color: #9cd9ac;
  font-family: "Open sans";
  text-decoration: none;
  font-size: 1.5rem;
}

.post span a:hover {
    color: #00ff88;
    transition: 0.3s;
}

.post .post_description {
  color: rgb(148, 136, 136);
}

.posts_heading {
  text-align: center;
  font-family: "Syne";
  font-size: 2.5rem;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
