*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgba(10,10,10,0.85);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    position: sticky;
}

nav > a {
    text-decoration: none;
    font-size: 1.1rem;
    font-family: "Open sans", monospace;
    color: white;
    font-weight: 800;
    text-align: center;
}

nav span {
    color: #00ff88;
    font-size: 1.2rem;
}

nav ul {
    display: flex;
    font-family: "Open sans";
    color: white;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li a{
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #8a8986;
    text-decoration: none;
}

nav ul li a:hover {
    color: #00ff88;
    transition: 0.2s;
}