* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.post_container h1 {
    font-family: "Syne";
    font-weight: 700;
}

.post {
    width: 90%;
    padding: 1rem;
}

.titleAndDesc {
    display: flex;
    flex-direction: column;
}

.post_title {
    font-family: "Syne";
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.post_description {
    font-family: "Open sans", monospace;
    color: rgb(192, 179, 179);
}

.post_owner {
    font-family: "Open sans", monospace;
    color: wheat;
    align-self: flex-end;
}

.contentContainer {
    display: flex;
    width: 80%;
    color: white;
    font-family: "Funnel Sans", sans-serif;
    font-size: 1.1rem;
    padding: 1rem;
}

.comments_array {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    font-family: "Open sans";
    color: white;
}

.comments_array .comment {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.comment {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.comment_username {
    color: rgb(197, 255, 60);
}